#btn1{
    background-color: aquamarine;
    height: 30px;
    width: 100px;
    float: left;
}
#flip{
height: 70px;
width: 100%;
border: solid salmon;
background-color: azure;
align-items: center;
}

#btn2{
    background-color: aquamarine;
    height: 30px;
    width: 100px;
    float: right;
}